<div class="container-fluid" ng-show="home">
  <header class="row">
    <h1 class="text-center"><%= I18n.t('in_room_shopping') %></h1>
    <i id="checkout" class="glyphicon glyphicon-shopping-cart btn" ng-click="switch('tab', 'home-cart')"></i>
  </header>

  <div class="info row same-day">
  </div>

<!--   <div class="row delivery">
    <%= I18n.t('same_day_delivery') %>
  </div> -->

  <h1 class="row general_heading"><span>{{category}}</span></h1>

  <div class="shoppingItem" ng-repeat="product in products">
    <div class="oneshoppingItem row">
      <div class="shopping-pix col-xs-3">
        <!-- <a ng-click="setProduct(product, 'home-image')"> -->
          <img src='{{product.pix}}'>
        <!-- </a> -->
      </div> 
      <!-- <div class="shopping-details col-xs-offset-1 col-xs-8"> -->
      <div class="shopping-details col-xs-7">
        <div class="shopping-title">
          <h2>
            <!-- <a ng-click="setProduct(product, 'home-name')"> -->
            {{product.name}}
            <!-- </a> -->
          </h2>
        </div>
        <div class="shopping-description">{{product.description}}</div>
        <div class="shopping-price">HKD {{product.price}}</div>
        <div class="shopping-button">
          <div class="shopping-quantity">
            <a class="minus" ng-click="quantity = quantity > 1 ? quantity - 1 : 1"><span class="glyphicon glyphicon-minus"></span></a><input type="" ng-model="quantity" ng-init="quantity=1" class="col-xs-2 quantity"><a ng-click="quantity=quantity+1"><span class="glyphicon glyphicon-plus"></span></a>
            <button class="btn btn-xs cart-button col-xs-offset-1 col-xs-5" ng-click="addItem(product.price, quantity, product.id, 'home-add')">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="checkout">
    <button class="btn btn-xs cart-button" ng-click="switch('tab', 'home-checkout')"><%= I18n.t('check_out') %></button>
  </div>

  <div class="footer row">
    <div class="categories">
      <button class="col-xs-2" ng-click="getProducts('smartphones')"><img src="<%=asset_path('SMARTPHONE.png')%>"></button>
      <button class="col-xs-2" ng-click="getProducts('souvenirs')"><img src="<%=asset_path('SOUVENIRS.png')%>"></button>
      <button class="col-xs-2" ng-click="getProducts('beauty')"><img src="<%=asset_path('BEAUTY.png')%>"></button>
      <button class="col-xs-2" ng-click="getProducts('health')"><img src="<%=asset_path('HEALTH.png')%>"></button>
      <button class="col-xs-2" ng-click="getProducts('jewellery')"><img src="<%=asset_path('JEWELLERY.png')%>"></button>
<!--       <button class="col-xs-2" ng-click="getProducts('watches')"><img src="<%=asset_path('WATCHES.png')%>"></button> -->
    </div>
  </div> 

</div>

<!-- Product Detail -->
<div class="container-fluid" ng-show="detail">
  <header class="row">
    <h1 class="text-center">{{product.name}}</h1>
    <i id="back" class="glyphicon glyphicon-chevron-left btn" ng-click="switch('home', 'product-back')"></i>
  </header>

  <div class="info row same-day">
  </div>

  <h1 class="row general_heading"><span>{{product.description}}</span></h1>

  <div><img src='{{product.pix}}' width="100%"></div>

  <div class="shoppingItem detail">
    <div class="oneshoppingItem">
      <div class="shopping-details">
        <div class="shopping-title"><h2>{{product.name}}</h2></div>
        <div class="shopping-description">{{product.description}}</div>
        <div class="shopping-price">HKD {{product.price}}</div>
        <div class="shopping-button">
          <div class="shopping-quantity">
            <a class="minus" ng-click="quantity = quantity > 1 ? quantity - 1 : 1"><span class="glyphicon glyphicon-minus"></span></a><input type="" ng-model="quantity" ng-init="quantity=1" class="col-xs-2 quantity"><a ng-click="quantity=quantity+1"><span class="glyphicon glyphicon-plus"></span></a>
            <button class="btn btn-xs cart-button col-xs-offset-1 col-xs-5" ng-click="addItem(product.price, quantity, product.id, 'product-add')"><%= I18n.t('add_to_cart') %></button>
          </div>
        </div>
        <div class="shopping-description2" ng-bind-html="product.description2"></div>
      </div>
    </div>
  </div>

  <div class="footer row">
    <div class="categories">
      <button class="col-xs-2" ng-click="getProducts('souvenirs')"><img src="<%=asset_path('SOUVENIRS.png')%>"></button>
      <button class="col-xs-2" ng-click="getProducts('beauty')"><img src="<%=asset_path('BEAUTY.png')%>"></button>
      <button class="col-xs-2" ng-click="getProducts('health')"><img src="<%=asset_path('HEALTH.png')%>"></button>
      <button class="col-xs-2" ng-click="getProducts('jewellery')"><img src="<%=asset_path('JEWELLERY.png')%>"></button>
      <button class="col-xs-2" ng-click="getProducts('smartphones')"><img src="<%=asset_path('SMARTPHONE.png')%>"></button>
<!--       <button class="col-xs-2" ng-click="getProducts('watches')"><img src="<%=asset_path('WATCHES.png')%>"></button> -->
    </div>
  </div>
</div>

<!-- Total Page -->
<div class="container-fluid" ng-show="tab">
  <header class="row">
    <h1 class="text-center"><%= I18n.t('shopping_cart') %></h1>
    <i id="remove" class="glyphicon glyphicon-remove btn" ng-click="switch('home', 'cart-back')"></i>
  </header>

  <div class="info row same-day">
  </div>

  <div class="shoppingItem" ng-repeat="product in shoppingCart">
    <div class="oneshoppingItem row">
      <div class="shopping-pix col-xs-6">
        <img src='{{product.piece.pix}}'>
      </div>
      <!-- <div class="shopping-details col-xs-offset-1 col-xs-11"> -->
      <div class="shopping-details col-xs-6">
        <div class="shopping-title"><h2>{{product.piece.name}}</h2></div>
        <div class="shopping-description">{{product.piece.description}}</div>
        <div class="shopping-price">HKD {{product.price}} x {{product.quantity}} </div>
        <h2 class="shopping-price">Subtotal: {{product.subtotal}} </h2>
        <div>
          <!-- <h2 class="oos">Out of Stock</h2> -->
        </div>
      </div>
    </div>
  </div>

  <div class="footer row">
    <div class="total">
      <h1><%= I18n.t('total') %> {{total}} </h1>
      <div class="center">
        <button class="btn btn-xs cart-button" ng-click="switch('purchase', 'cart')">PROCEED TO PURCHASE</button>
      </div>
    </div>
  </div>
</div>

<div id="toast"><%= I18n.t('item_added_to_cart') %></div>
<div id="thanks-order"><%= I18n.t('checking_out') %></div>

